<div data-role="header">
	
	<h1>Tasks</h1>
	<a href="#mypanel" data-icon="bars" data-iconpos="notext">Menu</a>
	<div data-role="navbar">
    <ul>
        <li><a href="#" class="ui-btn-active">Nav 1</a></li>
        <li><a href="#">Nav 2</a></li>
        <li><a href="#">Nav 3</a></li>
    </ul>
	</div><!-- /navbar -->
				
</div>

<div data-role="content">

	<ul data-role="listview">
    <li>Task 1</li>
    <li>Task 2</li>
    <li>Task 3</li>
    <li>Task 4</li>
    <li>Task Cinco</li>
	</ul>
	
</div>