<ul class="table-view">
  <li ng-repeat="item in items | keyFilter | filter:{ status: 'backlog' }" class="table-view-cell">
  	<a ui-sref="item({itemId: item.id})">
 		{{ item.name }} ({{ item.status }})
  		<span class="badge">4</span>
  	</a>
  </li>
</ul>
<div class="content-padded">
	<form ng-submit="addItem()" class="input-group">
	  <input ng-model="item.name" type="text">
	  <button class="btn btn-positive">Add item</button>
	</form>
</div>

<p ng-repeat="cat in cats | keyFilter">{{cat.name}}</p>
