<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
	<div>
		<button ng-click="goBack()" class="btn btn-link btn-nav pull-left">
			<span class="icon icon-left-nav"></span>
			Back
		</button>
		<h1 class="title">Item Details</h1>
	</div>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">

	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell">
				<h4>{{ item.name }} ({{ item.status }})</h4>
			</li>
		</ul>
	</div>

	<!-- TODO: Maybe create separate project/task routes & templates to remove the logic on this view -->
	<div ng-if="item.items_count > 0" class="content-padded">
		<span>Tasks:</span>
	</div>

	<div ng-if= "item.items_count > 0 && item.status !== 'backlog'" class="content-padded">
		<div class="segmented-control">
			<a class="control-item" ng-class="{active: taskFilter === 'planned'}" ng-click="filterTasks('planned')" href>
				Planned
			</a>
			<a class="control-item" ng-class="{active: taskFilter === 'started'}" ng-click="filterTasks('started')" href>
				Started
			</a>
			<a class="control-item" ng-class="{active: taskFilter === 'done'}" ng-click="filterTasks('done')" href>
				Done
			</a>
		</div>
	</div>

	<div ng-if="item.items_count > 0" class="card" style="min-height: 200px">
		<ul class="table-view">
	    	<li ng-repeat="task in item.tasks | filter:{ status: taskFilter }" class="table-view-cell"
	    		ng-swipe-left="showActions = true" ng-swipe-right="showActions = false">
	    		<a href>
	    			{{ task.name }} ({{ task.status }})
				  	<button ng-show="showActions" ng-click="updateItem(task, {status: nextTaskStatus})" class="btn btn-positive">
				  		{{ nextTaskStatus }}
				  	</button>
	    		</a>
	    	</li>
		</ul>
	</div>
	<br />
	<div ng-show="taskFilter === 'planned'" class="content-padded">
		<form ng-submit="addTask()">
			<input ng-model="task.name" type="text">
			<button class="btn btn-positive">Add Task</button>
		</form>
	</div>

	<br />
	<br />

	<div class="content-padded">
		<button ng-show="item.items_count === 0" ng-click="updateItem(item, {status: nextStatus.value})" class="btn btn-block btn-outlined">{{ nextStatus.button }}</button>
		<button ng-show="item.items_count > 0 && item.status === 'backlog'" ng-click="planProject(item)" class="btn btn-block btn-outlined">Plan All</button>
		<button ui-sref="items.edit({itemId: item.id})" class="btn btn-block btn-outlined">Edit</button>
		<button ng-click="deleteItem(item)" class="btn btn-negative btn-block btn-outlined">Delete</button>
	</div>

	<!-- Added these to make sure button is within scroll reach -->
	<br />
	<br />
	<br />

</div>