<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
	<div>
		<button ng-click="goBack()" class="btn btn-link btn-nav pull-left">
			<span class="icon icon-left-nav"></span>
			Back
		</button>
		<h1 class="title">Item Details</h1>
	</div>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">

	<div class="card">
		<ul class="table-view">
			<li class="table-view-cell">
				<h4>{{ item.name }}</h4>
			</li>
		</ul>
	</div>

	<div class="content-padded">
		<div class="segmented-control">
			<a class="control-item active" href="#item1mobile">
				Planned
			</a>
			<a class="control-item" href="#item2mobile">
				Started
			</a>
			<a class="control-item" href="#item3mobile">
				Done
			</a>
		</div>
	</div>

	<div class="card">
		<ul class="table-view">
	    	<li class="table-view-cell">Item 1</li>
	    	<li class="table-view-cell">Item 2</li>
	    	<li class="table-view-cell">Item 3</li>
	    	<li class="table-view-cell">
	    		<input type="text" placeholder="Full name">
	    		<button class="btn btn-negative">Button</button>
	    	</li>
		</ul>
	</div>


	<br />
	<br />

	<div class="content-padded">
		<button ng-click="updateItem(item, {status: nextStatus})" class="btn btn-block btn-outlined">{{ nextStatus }}</button>
		<button ng-click="deleteItem(item)" class="btn btn-negative btn-block btn-outlined">Delete</button>
	</div>

</div>