<!-- Make sure all your bars are the first things in your <body> -->
<header class="bar bar-nav">
	<div>
		<h1 class="title">Edit Item</h1>
	</div>
</header>

<!-- Wrap all non-bar HTML in the .content div (this is actually what scrolls) -->
<div class="content">

	
	<form>
		<div class="content-padded">

			<label>Name:</label>
			<input ng-model="item.name" type="text">

			<label>Description:</label>
			<textarea ng-model="item.description" rows="5"></textarea>

			<label ng-if="item.items_count === 0 && item.status !== 'backlog'">Status:</label>
			<select ng-if="item.items_count === 0 && item.status !== 'backlog'" ng-model="item.status" name="select">
			  <option ng-selected="item.status === 'planned'" value="planned">Planned</option> 
			  <option ng-selected="item.status === 'started'" value="started" selected>Started</option>
			  <option ng-selected="item.status === 'done'" value="done">Done</option>
			</select>

		</div>

		<br />
		<br />
		<br />
		<br />

		<div class="content-padded">
			<button ng-click="updateItem()" class="btn btn-positive btn-block">Save Item</button>
		</div>

		<!-- Added these to make sure button is within scroll reach -->
		<br />
		<br />
		<br />

	</form>

</div>




