<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
	<div class="container-full">
	  <!-- Brand and toggle get grouped for better mobile display -->
	  <div class="navbar-header">
	    <a class="navbar-brand" href="#">Clean<strong>Card</strong></a>
		</div>
	  <ul class="nav navbar-nav">
	    <li class="active"><%= link_to "Plan", :controller => "boards", :action => "plan" %></li>
	    <li><%= link_to "This Week", :controller => "boards", :action => "current" %></li>
	  </ul>   
	  <ul class="nav navbar-nav navbar-right">
	    <li class="dropdown">
	      <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
	      <ul class="dropdown-menu">
	        <li><a href="#">Action</a></li>
	        <li><a href="#">Another action</a></li>
	        <li><a href="#">Something else here</a></li>
	        <li class="divider"></li>
	        <li><%= link_to "Sign out", signout_path, method: "delete" %></li>
	      </ul>
	    </li>
	  </ul>
	  <form class="navbar-form navbar-right" role="search">
	    <div class="form-group">
	      <input type="text" class="form-control" placeholder="Search">
	    </div>
	  </form>
	</div>  
</nav>