
<div class="container">
	<div class="row">
		<!-- for menu -->
		<div class="col-md-3" ng-if="showBacklog">
			Left Menu
		</div>
		<div ng-class="rightMenuWidth">
			Backlog
			<input type="checkbox" ng-model="showBacklog">
		</div>
		<br />
		<br />
	</div>
	<div class="row">
		<div class="col-md-3" ng-if="showBacklog">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Backlog</h3>
				</div>
				<ul class="list-group">
					<li class="list-group-item">
						<form ng-submit="createItem(item)" name="new-item-form">
							<div class="form-group">
								<input type="text" ng-model="item.name" class="form-control" />
							</div>
							<button class="btn btn-primary">Default</button>
						</form>
					</li>				
					<li ng-repeat-start="item in items | filter:{ status: 'backlog' }" class="list-group-item">
						{{ item.name }}<br />
						<a ng-click="expandItem(item)" href>Expand</a>
						<a ng-click="update(item)" href>Plan</a>
					</li>
					<li ng-repeat-end ng-repeat="task in item.tasks" ng-if="item.expand" class="list-group-item">
						{{ task.name }}
					</li>					
				</ul>
			</div>
		</div>	
		<div ng-class="columnWidth">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Planned</h3>
				</div>
				<ul class="list-group">
					<li ng-repeat="item in items | filter:{ status: 'planned' }" class="list-group-item">
						{{ item.name }}
						<a ng-click="move(item)" href>Move back</a>
					</li>
				</ul>
			</div>
		</div>
		<div ng-class="columnWidth">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Started</h3>
				</div>
				<ul class="list-group">
					<li ng-repeat="item in items | filter:{ status: 'started' }" class="list-group-item">
						{{ item.name }}
					</li>
				</ul>
			</div>
		</div>		
		<div ng-class="columnWidth">
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title">Done</h3>
				</div>
				<ul class="list-group">
					<li ng-repeat="item in items | filter:{ status: 'done' }" class="list-group-item">
						{{ item.name }}
					</li>
				</ul>
			</div>
		</div>		
	</div>
</div>