<!-- Including this navbar with ng-include caused the checkboxes to not work properly, so I moved it here -->
<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <form class="navbar-form navbar-left" role="search" style="width: 25%; padding-left: 0" ng-show="showBacklog">
      <div class="input-group">
        <div class="input-group-btn">
          <input type="text" class="form-control" ng-model="filterKeyword" ng-change="filterBacklog()" placeholder="Filter backlog">        
          <button type="button" class="btn btn-default" data-toggle="dropdown">
            <span class="caret">
          </button>
            <ul class="dropdown-menu dropdown-menu-form" role="menu">
              <li style="padding-left: 20px">Categories:</li>
              <li class="divider"></li>
              <li ng-repeat="category in categories">
                <div class="checkbox" style="padding-left: 20px">
                  <label>
                    <input ng-change="filterBacklog()" type="checkbox" ng-model="category.selected">
                    {{ category.name }}
                  </label>
                </div>
              </li>
              
            </ul>          
        </div>
      </div>
    </form>

    <ul class="nav navbar-nav">
      <li id="plan-board"><a ng-click="rootFunction()" href></span>Backlog</a></li>
      <li><a href>New</a></li>
    </ul> 

    <div class="navbar-header navbar-right" style="margin-left: 30px">
      <a class="navbar-brand" href="#">Clean<strong>Card</strong></a>
    </div>            

    <ul class="nav navbar-nav navbar-right">
      <li id="plan-board"><a href>Help</a></li>
      <li class="dropdown">
        <a href class="dropdown-toggle" data-toggle="dropdown">Account</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href>Sign Out</a></li>
        </ul>
      </li>
    </ul>    
  </div>  
</nav>

<div class="container">
	<div class="row">
	<!-- for menu -->
		<div class="col-md-3" ng-if="showBacklog">
		</div>
		<div class="col-md-9">
		  <div class="checkbox">
		    <label>
		      <input type="checkbox" ng-click="toggleExpandAll()" ng-model="expandAll"> Expand all
		    </label>
		  </div>
		</div>
	</div>
	<div class="row">
	<!-- had to put column headers in separate row to keep Backlog header from scrolling -->
		<div class="col-md-3" ng-if="showBacklog">
			<div class="panel panel-default cc-panel-heading" style="margin-right: 15px">
				<div class="panel-heading">
					<h3 class="panel-title">Backlog</h3>
				</div>
			</div>	
		</div>
		<div ng-class="columnWidth">
			<div class="panel panel-default cc-panel-heading">
				<div class="panel-heading">
					<h3 class="panel-title">Planned</h3>
				</div>
			</div>
		</div>
		<div ng-class="columnWidth">
			<div class="panel panel-default cc-panel-heading">
				<div class="panel-heading">
					<h3 class="panel-title">Started</h3>
				</div>
			</div>		
		</div>
		<div ng-class="columnWidth">
			<div class="panel panel-default cc-panel-heading">
				<div class="panel-heading">
					<h3 class="panel-title">Done</h3>
				</div>
			</div>		
		</div>				
	</div>
	<div class="row">
		<div class="col-md-3" ng-if="showBacklog" id="backlog">
			<div class="panel panel-default cc-panel-list">			
				<ul class="list-group">				
					<li ng-repeat-start="item in backlogItems | filter:{ status: 'backlog', name: filterKeyword }" class="list-group-item" ng-mouseenter="showCardControls = true" ng-mouseleave="showCardControls = false" ng-init="showCardControls = false">
						<span class="pull-right" ng-show="item.items_count === 0 && showItemSelectBoxes">
							<input type="checkbox" ng-model="item.selected">
						</span>
						<h5 class="list-group-item-heading">{{ item.name }}</h5>
						<div ng-class="{invisible: !showCardControls}">
							<span class="badge" ng-show="item.items_count > 0">
								{{ item.items_count }}
							</span>
							<small>
								<a href ng-click="expandItem(item)">Expand</a>
							</small>
							<small>
								<a href ng-click="selectItemsAsTasks(item)">Add</a>
							</small>
							<small class="pull-right">
								<a href ng-click="plan(item)">Plan</a>
							</small>							
							<small class="pull-right">
								<a href ng-click="deleteItem(item)">Del &nbsp;</a>
							</small>
							<small class="pull-right">
								<a href>New &nbsp;</a>
							</small>
						</div>
						<div ng-show="item.showAddItemsButton">
							<button type="button" ng-click="convertItems(item)" class="btn btn-primary btn-xs">Add Items as Tasks</button>
						</div>
					</li>
					<li ng-repeat-end ng-repeat="task in item.tasks" ng-if="item.expand" class="list-group-item">
						{{ task.name }}
					</li>
					<li class="list-group-item">
						<form ng-submit="createItem(card)" name="myForm">
							<div class="form-group">
								<input type="text" ng-model="card.name" class="form-control" />
							</div>
							<button class="btn btn-primary">Default</button>
						</form>					
					</li>															
				</ul>
			</div>
		</div>	
		<div ng-class="columnWidth">
			<div class="panel panel-default cc-panel-list">
				<ul class="list-group">
					<li ng-repeat="item in items | filter:{ status: 'planned' } | limitTo: 11" class="list-group-item">
						<h5 class="list-group-item-heading">{{ item.name }}</h5>
						<div ng-show="item.items_count > 0">
							<span class="badge">
								{{ item.items_count }}
							</span>
							<small>
								<a href ng-click="backPlanned(item)">Back</a>
							</small>						
							<small class="pull-right">
								<a href ng-click="deleteItem(item)">Del &nbsp;</a>
							</small>
							<small class="pull-right">
								<a href>New &nbsp;</a>
							</small>
						</div>
						<div ng-show="item.items_count === 0">
							<small>
								<a href ng-click="backPlanned(item)">Back</a>
							</small>
							<small class="pull-right">
								<a href ng-click="start(item)">Start &nbsp;</a>
							</small>
							<small class="pull-right">
								<a href ng-click="deleteItem(item)">Del &nbsp;</a>
							</small>
						</div>					
					</li>
				</ul>
			</div>
		</div>
		<div ng-class="columnWidth">
			<div class="panel panel-default cc-panel-list">
				<ul class="list-group">
					<li ng-repeat="item in items | filter:{ status: 'started' } | limitTo: 11" class="list-group-item">
						<h5 class="list-group-item-heading">{{ item.name }}</h5>
						<div ng-show="item.items_count > 0">
							<span class="badge">
								{{ item.items_count }}
							</span>						
							<small class="pull-right">
								<a href ng-click="deleteItem(item)">Del &nbsp;</a>
							</small>
						</div>
						<div ng-show="item.items_count === 0">
							<small>
								<a href ng-click="backStart(item)">Back</a>
							</small>
							<small class="pull-right">
								<a href ng-click="done(item)">Done &nbsp;</a>
							</small>
							<small class="pull-right">
								<a href ng-click="deleteItem(item)">Del &nbsp;</a>
							</small>
						</div>												
					</li>
				</ul>
			</div>
		</div>		
		<div ng-class="columnWidth">
			<div class="panel panel-default cc-panel-list">

				<ul class="list-group">
					<li ng-repeat="item in items | filter:{ status: 'done' } | limitTo: 11" class="list-group-item">
						<h5 class="list-group-item-heading">{{ item.name }}</h5>
						<div ng-show="item.items_count > 0">
							<span class="badge">
								{{ item.items_count }}
							</span>						
							<small class="pull-right">
								<a href ng-click="deleteItem(item)">Del &nbsp;</a>
							</small>
						</div>
						<div ng-show="item.items_count === 0">
							<small>
								<a href ng-click="backDone(item)">Back</a>
							</small>
							<small class="pull-right">
								<a href ng-click="deleteItem(item)">Del &nbsp;</a>
							</small>
						</div>													
					</li>
				</ul>
			</div>
		</div>		
	</div>
</div>