<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->

    <form class="navbar-form navbar-left" role="search" style="width: 25%; padding-left: 0" ng-if="showBacklog">
      <div class="input-group">
        <div class="input-group-btn">
          <input type="text" class="form-control" placeholder="Filter backlog">        
          <button type="button" class="btn btn-default dropdown-toggle">
            <span class="caret">
          </button>
        </div>
      </div>
    </form>

    <ul class="nav navbar-nav">
      <li id="plan-board"><a ng-click="rootFunction()" href></span>Backlog</a></li>
      <li><a href>New</a></li>
    </ul> 

    <div class="navbar-header navbar-right" style="margin-left: 30px">
      <a class="navbar-brand" href="#">Clean<strong>Card</strong></a>
    </div>            

    <ul class="nav navbar-nav navbar-right">
      <li id="plan-board"><a href>Help</a></li>
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account</a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href>Sign Out</a></li>
        </ul>
      </li>
    </ul>    

  </div>  
</nav>