<nav class="navbar navbar-default navbar-static-top" role="navigation">
  <div class="container-full">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Clean<strong>Card</strong></a>
    </div>
    <ul class="nav navbar-nav">
      <li id="plan-board"><a href>Plan</a></li>
      <li id="current-board"><a href>Current</a></li>
    </ul>   
    <ul class="nav navbar-nav navbar-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
        <ul class="dropdown-menu">
          <li><a href="#">Action</a></li>
          <li><a href="#">Another action</a></li>
          <li><a href="#">Something else here</a></li>
          <li class="divider"></li>
          <li><a href>Sign Out</a></li>
        </ul>
      </li>
    </ul>
    <form class="navbar-form navbar-right" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
    </form>
  </div>  
</nav>