<li class="list-group-item" id="new-card">
	<%= form_for(@project, :remote => true) do |f| %>
	<%= f.hidden_field :status, :value => "backlog" %>
	<div class="form-group">
		<%= f.text_area :name, :rows => 3, :class => "form-control input-sm" %>
	</div>
	<%= f.submit "Add Project", :class => "btn btn-primary btn-sm" %>
	<button type="button" class="btn btn-default btn-sm">Cancel</button>
	<% end %>
</li>