<div class="container">
	<h4>
		<span style="text-decoration: underline">Projects</span>
		for
		<span style="text-decoration: underline">this week</span>
		in category
		<span style="text-decoration: underline">Kinnser</span>
		
	</h4>
</div>

<div class="container">
	<div class="row">
		<div class="col-lg-4">
			<div class="panel panel-default column">
			  <!-- Default panel contents -->
			  <div class="panel-heading">Planned</div>
			
			  <!-- List group -->
			  <ul class="list-group">
					<% @projects.each do |project| %>				
					  <a href="#" class="list-group-item">
					  	<span class="badge">14</span>
					    <h4 class="list-group-item-heading"><%= project.name %></h4>
					    <p class="list-group-item-text">...</p>
					  </a>				
					<% end %>    
			  </ul>	
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default column">
			  <!-- Default panel contents -->
			  <div class="panel-heading">Started</div>
			
			  <!-- List group -->
			  <ul class="list-group">
					<% @projects.each do |project| %>				
					  <a href="#" class="list-group-item">
					  	<span class="badge">14</span>
					    <h4 class="list-group-item-heading"><%= project.name %></h4>
					    <p class="list-group-item-text">...</p>
					  </a>				
					<% end %>
			  </ul>
			</div>
		</div>
		<div class="col-lg-4">
			<div class="panel panel-default column">
			  <!-- Default panel contents -->
			  <div class="panel-heading">Done</div>
			
			  <!-- List group -->
		
			</div>
		</div>
		
	</div>
</div>	