<div class="row">
	<div class="col-12">
		<table class="table-clean-card">
			<tr>
				<th class="col-thirty-three-percent"><h4>Planned</h4></th>
				<th class="col-thirty-three-percent"><h4>Started</h4></th>
				<th class="col-thirty-three-percent"><h4>Done</h4></th>
			</tr>
			<tr>
				<td>
					<div class="card card-project">
						<div class="project-right-margin pull-right"></div>
						<div class="project-body pull-right">
							<p>Take out the papers and the trash</p>
						</div>
						<div class="project-footer pull-right">Footer</div>
						<div class="project-left-margin"></div>
					</div>
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>
					<div class="show-tasks">
						<div class="card card-task">Task numero uno</div>
					</div>
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>																					
				</td>
				<td>
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>
					<div class="show-tasks"></div>														
				</td>
				<td>
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>
					<div class="show-tasks"></div>	
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>
					<div class="card card-project">
						<p>Take out the papers and the trash</p>
					</div>																																																	
				</td>
			</tr>						
		</table>
	</div>
</div>