<div class="row">
	<div class="col-12">
		<table class="table-clean-card">
			<tr>
				<th class="col-thirty-three-percent"><h4>Planned</h4></th>
				<th class="col-thirty-three-percent"><h4>Started</h4></th>
				<th class="col-thirty-three-percent"><h4>Done</h4></th>
			</tr>
			<tr>
				<td>
					<% @projects.each do |project| %>
					<div class="project">
						<div class="project-right-margin pull-right">
							<a href="#" class="pull-right">Edit</a>
						</div>
						<div class="project-body pull-right">
							<span><%= project.title %></span>
						</div>
						<div class="project-footer pull-right">
							<span class="badge pull-right">CQ</span>
							<span class="badge">4</span>
							<span><a href="#">Tasks</a></span>
						</div>				
						<div class="project-left-edge"></div>
					</div>
					<% end %>																
				</td>
				<td>
					<div class="task">
						<div class="task-right-margin pull-right">
							<a href="#" class="pull-right">Edit</a>
						</div>						
						<div class="task-body pull-right">
							<span>Take out the papers and the trash</span>
						</div>
						<div class="task-left-margin pull-right">
							<input type="checkbox" class="pull-right">
						</div>
						<div class="task-left-edge"></div>
					</div>
					<div class="task">
						<span>Take out the papers</span>
					</div>
					<div class="task">
						<span>Take out the papers</span>
					</div>
					<div class="task">
						<span>Take out the papers</span>
					</div>																							
				</td>
				<td>

				</td>
			</tr>						
		</table>
	</div>
</div>