<div data-role="header">
	<h1>Header Title</h1>
	<a href="#mypanel" data-icon="bars" data-iconpos="notext">Menu</a>
	<div data-role="navbar">
    <ul>
        <li><a href="/projects?status=planned" class="ui-btn-active">Nav 1</a></li>
        <li><a href="/projects?status=started">Nav 2</a></li>
        <li><a href="/projects?status=done">Nav 3</a></li>
    </ul>
	</div><!-- /navbar -->			
</div>

<div data-role="content">
	<ul data-role="listview">
		<% @projects.each do |project| %>
	    <li><a href="<%= "/projects/#{project.id}/tasks?status=planned" %>"><%= project.title %></a></li>
	  <% end %>
	</ul>
</div>