<div class="row">
	<div class="col-8">
		<table class="table-clean-card">
			<tr>
				<th class="col-thirty-three-percent"><h3>Planned</h3></th>
				<th class="col-thirty-three-percent"><h3>Started</h3></th>
				<th class="col-thirty-three-percent"><h3>Done</h3></th>
			</tr>
			<tr>
				<td colspan="3">
					<div class="card card-project">
						<div class="project-right-margin pull-right"></div>
						<div class="project-body pull-right">
							<p>Take out the papers and the trash</p>
						</div>
						<div class="project-footer pull-right">Footer</div>
						<div class="project-left-margin"></div>
					</div>
					<div class="card card-project">
						<div class="project-right-margin pull-right"></div>
						<div class="project-body pull-right">
							<p>Take out the papers and the trash</p>
						</div>
						<div class="project-footer pull-right">Footer</div>
						<div class="project-left-margin"></div>
					</div>
					<div class="card card-project">
						<div class="project-right-margin pull-right"></div>
						<div class="project-body pull-right">
							<p>Take out the papers and the trash</p>
						</div>
						<div class="project-footer pull-right">Footer</div>
						<div class="project-left-margin"></div>
					</div>																					
				</td>
			</tr>						
		</table>
	</div>
</div>
<div class="row">
	<div class="col-4"></div>
</div>