<div class="container-full-width">
	<h4>
		<span style="text-decoration: underline">Projects</span>
		for
		<span style="text-decoration: underline">this week</span>
		in category
		<span style="text-decoration: underline">Kinnser</span>
		
	</h4>
</div>

<div class="container-full-width">
	<div class="row">
		<div class="col-xs-3">
			<div class="cq-white column"></div>
		</div>
		<div class="col-xs-9">
			<div class="cq-white">
				<table>
					<tr>
						<th class="left-middle-columns">To Do</th>
						<th class="left-middle-columns">Started</th>
						<th class="right-column">Done</th>
					</tr>
					<tr>
						<td class="left-middle-columns"></td>
						<td class="left-middle-columns"></td>
						<td class="right-column"></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>