body {
	background-color: #ECF0F1;
}

/*

.navbar {
	background-color: white;
}

.navbar-brand {
	color: #27AE60;
}

*/

.sub-menu {
	height: 40px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: gray;
}

/*Scrum/Kanban board and calendar tables */

.table-clean-card {
	width: 100%;
}

.table-clean-card th {
	padding: 0 0 0 10px;
	border-style: solid;
	border-width: 0 1px;
	border-color: gray;
}

.table-clean-card th h4 {
	color: gray;
}

.table-clean-card td {
	height: 800px;
	border-style: solid;
	border-width: 1px 1px;
	border-color: gray;
	vertical-align: top;
}

.col-five-percent {
	width: 5%;
}

.col-nineteen-percent {
	width: 19%;
}

.col-thirty-three-percent {
	width: 33%;
}


/*Scrum/Kanban cards */

.card {
	margin: 3px 5px;
	background-color: white;
	border-width: 2px;
	border-style: solid;
	border-color: #D8D8D8;
}

.card-project {
	height: 60px;
}

.project-left-margin {
	height: 56px;
	width: 1%;
	background-color: #2980B9;
}

.project-body {
	height: 30px;
	width: 94%;
	padding: 2px 5px;
}

.project-footer {
	height: 26px;
	width: 94%;
	padding: 2px 5px;
}

.project-right-margin {
	height: 56px;
	width: 5%;
	background-color: gray;
}

.card-task {
	height: 30px;
}

.show-tasks {
	height: 300px;
	padding: 10px 0 10px 15px;
	background-color: white;
}
