body {
	background-color: #ECF0F1;
}

/*

.navbar {
	background-color: white;
}

.navbar-brand {
	color: #27AE60;
}

*/

.sub-menu {
	height: 40px;
	border-style: solid;
	border-width: 0 0 1px 0;
	border-color: gray;
}

.table-clean-card {
	width: 100%;
	min-width: 960px;
}

.table-clean-card th {
	padding: 0 0 0 10px;
	border-style: solid;
	border-width: 0 1px;
	border-color: gray;
}

.table-clean-card th h4 {
	color: gray;
}

.table-clean-card td {
	height: 800px;
	border-style: solid;
	border-width: 1px 1px;
	border-color: gray;
	vertical-align: top;
}

.col-five-percent {
	width: 5%;
}

.col-nineteen-percent {
	width: 19%;
}

.col-thirty-three-percent {
	width: 33%;
}

.show-tasks {
	height: 300px;
	padding: 10px 0 10px 15px;
	background-color: white;
}
