.project {
	height: 64px;
	margin: 2px 5px 0 5px;
	border-width: 2px 2px 2px 0;
	border-style: solid;
	border-color: #D8D8D8;
	background-color: white;	
}

.project a {
	color: gray;
	text-decoration: underline;
}

.project-left-edge {
	height: 60px;
	width: 2%;
	background-color: #2980B9;
}

.project-body {
	height: 35px;
	width: 89%;
	padding: 2px 5px; /*TODO: Research why top and bottom padding is not increasing height*/
	color: #2980B9;
	font-weight: bold;
	line-height: 1.2;
}

.project-footer {
	height: 25px;
	width: 89%;
	padding: 2px 5px; /*TODO: Research why top and bottom padding is not increasing height*/
}

.project-right-margin {
	height: 60px;
	width: 9%;
	padding-top: 2px;
	padding-right: 1%;
}


/* list concept, may not use */

.project-row {
	height: 45px;
	margin: 3px 0 0 0;
	background-color: white;
}

.project-row-left-edge {
	height: 45px;
	width: 0.5%;
	background-color: #2980B9;	
}

.project-row-cell-one {
	height: 45px;
	width: 4.5%;
	padding: 12px 0 0 10px;
}

.project-row-cell-two {
	height: 45px;
	width: 65%;
	padding: 12px 0 0 6px;
	color: #2980B9;
	font-weight: bold;		
}

.project-row-cell-three {
	height: 45px;
	width: 15%;
	padding: 12px 0 0 6px;
	color: #2980B9;
	font-weight: bold;	
}

.project-row-cell-four {
	height: 45px;
	width: 15%;
	padding: 12px 0 0 6px;
	color: #2980B9;
	font-weight: bold;	
}

/* end list concept */

.show-project-header {
	padding: 0 30px;
	border-width: 0 0 1px 0;
	border-style: solid;
	border-color: gray;
}

.show-project-notes {
	padding: 0 30px;
}
