// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//Count bubbles are only available on Listviews so this is custom css to get them on a Controlgroup
.task-count {
margin: 0 0 0 5px;
padding: 2px 3px;
border-width: 1px;
border-style: solid;
border-color: light-gray;
font-weight: bold;
}
